<%= render "form_partials/show_profile", user: @volunteer %>

<br><br>
<div class="disclaimer">
  <h3> Volunteer application and screening process</h3><br>
  <ol>
    <li>After a review of your profile, you will receive an invitation to attend a Volunteer Orientation Session.</li>
    <li>Participate in an interview at a mutually agreed upon time. The interview will determine whether the applicant is suitable for a volunteer position that is presently available. Please note: An interview does not guarantee a volunteer position.</li>
    <li>Apply for a police check including a vulnerable sector check. All volunteers are required to obtain a successful police check prior to volunteering.</li>
    <li>The successful volunteer will receive training for their new position as well as a detailed Volunteer description of their new role.
  </ol>
</div>

<% if @volunteer.policecheck.exists? %>
  <p>We have your police check!<p>
<% else %>
  <div>
    <p>Show us that you're cleeeeean.</p>
    <%= form_for @volunteer, url: submit_police_check_path, method: :post do |f| %>
      <%= f.file_field :policecheck %>
      <%= f.submit "Submit Police Check" %>
    <% end %>
  </div>
<% end %>
