<div class="intro">
  <p>This app connects volunteers with residents who live with dementia!</p>

  <div class="links">
    <p>Sign up as:</p>
    <div class="button"><%= link_to "Volunteer", new_volunteer_path %></div>
    <div class="button"><%= link_to "Resident", new_resident_path %></div>
  </div>
</div>
