<div class="intro">
  <p>This app connects volunteers with people with dementia (PWD)!</p>

  <div class="links">
    <p>Sign up as:</p>
    <div class="button"><%= link_to "Volunteer", new_volunteer_path %></div>
    <div class="button"><%= link_to "PWD", new_pwd_path %></div>
  </div>
</div>
