<h1>Welcome to Mindr!</h1>
<h2>This app connects volunteers with people with dementia!</h2>
<%= link_to "Sign Up as a Volunteer", new_volunteer_path %> |
<%= link_to "Sign Up as a Person with Dementia (PWD)", new_pwd_path %>
