<div class="intro">
  <p>This app connects volunteers with residents who live with dementia!</p>
  <%= link_to 'Log in', new_session_path %>

  <div class="links">
    <p>Sign up as:</p>
    <%= link_to new_resident_path do %>
    <div class="button">
      Resident
    </div>
    <% end %>
    <%= link_to new_volunteer_path do %>
      <div class="button">
        Volunteer
      </div>
    <% end %>
  </div>
</div>
