<div class="avail-container">
  <h1>Please choose availabilities!</h1>
  <h2>Select all that apply</h2>
  <div class="checkbox-container">
  <%= form_tag availability_path, method: :post %>
  <table>
    <tr>
      <% Availability.setlist.each do |timeslot| %>
        <%= label_tag "#{timeslot}" %>
        <%= check_box_tag 'availability[timeslot][]', "#{timeslot}" %> <br>
      <% end %>
    </tr>
  </table>
  </div>
</div>
<%= submit_tag "Submit Availability" %>
