/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *,
 *:before,
 *:after
 {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

html {
  font-family: "Nunito";
  position: relative;
  height: 100%;
  font-size: 18px;
}

.shell {
  width: 100%;
  text-align: center;
  display: inline-block;
  min-height: 100%;
  margin-top: 20px;
}

input[type="text"], input[type="password"] {
  padding: 5px 2px;
  font-size: 1.5em;
}

input[type="submit"] {
  padding: 12px 20px;
  /*border: 2px solid gray;*/
  border: none;
  border-radius: 12px;
  margin: 15px 0;
  background-color: #4ABDAC;
}

textarea {
  width: 100%;
  height: 80px;
  font-size: 1.2em;
}
